<img class='photo' src={{photo.src}} alt={{photo.title}} />
<div class='photo-description'>
  <h4 style='margin-top:0; text-align:right;'>{{photo.title}}</h4>
  <h6 style='margin:0 0 5px; text-align:right; font-style:italic;'>- {{photo.subtitle}} -</h6>
  <div style='width:49%; float:left;'>
    <h6>Aperture: {{photo.aperture}}</h6>
    <h6>Shutter speed: {{photo.shutterSpeed}}</h6>
  </div>
  <div style='margin-left: 2%; width:49%; float:left; text-align:right;'>
    <h6>{{photo.place}}</h6>
    <h6>{{photo.date}}</h6>
  </div>
</div>
