<p class='date'><i>{{post.date}}</i></p>
<h2 class='post-title'><a href='news/{{post.link}}'>{{post.title}}</a></h2>
<p class='post'>{{post.description}} <a href='news/{{post.link}}'>…</a></p>
<div class='post-separator'></div>
<br>
